  
.navIndex {
    list-style-type: none;
    border-bottom: solid 1px rgb(218, 218, 218);
    background-color: rgb(238, 238, 238);
    z-index: 10;
    position: sticky;
    top: 0;
    /* width: 50%; */
    width: 100%;
    padding-top: 1px;
    /* border-left: solid 10px #3498db;
    border-right: solid 10px #3498db; */
    margin-top: 76px;

}

.navIndex>li {
    display: inline-block;
    width: calc(100% / 4 - 4px);
    text-align: center;
    font-weight: 500;
    font-size: 15px;
}

.navIndex>li:hover {}

#courses,
#resultats,
#depenses,
#a-propos {
    color: rgb(90, 90, 90);
}

#courses {
    color: black;
}

#courses:hover,
#resultats:hover,
#depenses:hover,
#a-propos:hover {
    color: black;
}

.navIndex>li>a {
    display: block;
    padding: 15px 15px;
}

#onNav {
    background-image: url('https://www.stickpng.com/assets/images/580b585b2edbce24c47b26bc.png');
    position: absolute;
    background-position: bottom;
    background-size: 40%;
    background-repeat: repeat-x;
    left: 0;
    right: 0;
    top: 0;
    height: 130px;
}

.sky {
    background-image: url('https://www.metoffice.gov.uk/binaries/content/gallery/metofficegovuk/hero-images/weather/cloud/cumulus-cloud.jpg/cumulus-cloud.jpg/metofficegovuk%3AheroMedium');
    position: absolute;
    background-position: bottom;
    background-size: cover;
    background-repeat: repeat-x;
    left: 0;
    right: 0;
    top: 0;
    height: 130px;

}

#logo {
    position: absolute;
    top: -10px;
    left: 0;
    z-index: 1;
    height: 160px;
    margin-left: 20px;
}

#menuRight {
    list-style: none;
    padding: 0 10px;
    position: sticky;
    top: 70px;
    padding-right: 0px;
}

#menuRight>li>.row>* {
    /* background: rgb(238, 238, 238); */
    display: block;
    padding: 10px 10px;
    font-size: 20px;

}

#menuRight>li>.row>*>a {
    color: rgb(90, 90, 90);
}

#menuRight>li>.row>*>a::after {
    content: ' >';
    transition: all .2s;
}

#menuRight>li>.row>*>a:hover::after {
    margin-left: 10px;
}

#menuRight>li>.row>*>a:hover {
    color: #000;
}

.thumbnail{
    background-color: #c5bfbf;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    border:2px solid black;
    margin-bottom: 10px;
}

#par {
    margin-right: -50%;
}

body {
    background-image: url(../arriereplan.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

