@font-face {
    font-family: "Blacklisted";
    src: url('Blacklisted.ttf');
}

body{
    background-image: url('../ressources/arriereplan.png');
}

.navIndex {
    list-style-type: none;
    border-bottom: solid 1px rgb(218, 218, 218);
    background-color: rgb(238, 238, 238);
    z-index: 9;
    position: sticky;
    top: 0;
    width: 100%;
    padding-top: 1px;
    margin-top: 76px;

}

.navIndex>li {
    display: inline-block;
    width: calc(100% / 4 - 4px);
    text-align: center;
    font-weight: 500;
    font-size: 15px;
}


#courses,
#resultats,
#depenses,
#a-propos {
    color: rgb(90, 90, 90);
}

#courses {
    color: black;
}

#courses:hover,
#resultats:hover,
#depenses:hover,
#a-propos:hover {
    color: black;
}

.navIndex>li>a {
    display: block;
    padding: 15px 15px;
}

#onNav {
    background-image: url('https://www.stickpng.com/assets/images/580b585b2edbce24c47b26bc.png');
    position: absolute;
    background-position: bottom;
    background-size: 40%;
    background-repeat: repeat-x;
    left: 0;
    right: 0;
    top: 0;
    height: 130px;
}

.sky {
    background-image: url('https://www.metoffice.gov.uk/binaries/content/gallery/metofficegovuk/hero-images/weather/cloud/cumulus-cloud.jpg/cumulus-cloud.jpg/metofficegovuk%3AheroMedium');
    position: absolute;
    background-position: bottom;
    background-size: cover;
    background-repeat: repeat-x;
    left: 0;
    right: 0;
    top: 0;
    height: 130px;

}

#logo {
    position: absolute;
    top: -10px;
    left: 0;
    z-index: 1;
    height: 160px;
    margin-left: 20px;
}

#menuRight {
    list-style: none;
    padding: 0 10px;
    position: sticky;
    top: 70px;
    padding-right: 0px;
}

#menuRight>li>.row>* {
    display: block;
    padding: 10px 10px;
    font-size: 20px;

}

#menuRight>li>.row>*>a {
    color: rgb(90, 90, 90);
}

#menuRight>li>.row>*>a::after {
    transition: all .2s;
}

#menuRight>li>.row>*>a:hover::after {
    margin-left: 10px;
}

#menuRight>li>.row>*>a:hover {
    color: #000;
}

.carousel-item{
    margin-bottom: -4%;
}

.carousel-inner{
    box-shadow: 8px 8px 8px black;
}

#menuRight{
    box-shadow: 8px 8px 8px black;
}

#gris{
    background-color: #c5bfbf;
    border : 1px solid black;
}

#categorie{
    font-size: 40px;
    font-family: Blacklisted;
    padding-left: 1%;
}

#categorie1{
    font-size: 40px;
    font-family: Blacklisted;
    padding-left: 1%;
}

#impact{
    font-size: 28px;
    font-family: Impact;
    color: grey;
    text-align: justify;
    padding-left: 2%;
    margin-right: 2%;
}

#velo{
    margin-top: -9%;
    max-width : 100%;
    height:  auto;
    display: block;
    float: right;
}

.d-block .w-100{
    box-shadow: 8px 8px 12px black;
}

@media screen and (max-width: 640px) {
    img{
        width: 20%;
    }

    #categorie{
        margin-left: 30%;
        font-size: 30px;
        margin-top: -20%;
        position: absolute;
    }

    #menu{
        margin-top: 10%;
        margin-right: -2%;
    }

    #categorie1{
        font-size: 20px;
    }

    #gris{
        margin-right: -2%;
    }

    li{
        margin-bottom: -8%;
    }

    #voirplus{
        margin-bottom: -5%;
    }

    #impact{
        font-size: 20px;
    }

    #velo{
        float: none;
        margin: auto;
        width: 100%;
    }

    #all{
        margin-bottom: -7%;
    }
}
